In [1]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [3]:
import pandas as pd
data={
    'empno':[101,102,103,104,105],
    'ename':['ramu','bhim','maneesh','lokesh','prithvi'],
    'qualification':['be','diplomo','mtech','bsc','msc'],
    'subject':['cs','me','ec','at','ce']
}
df=pd.DataFrame(data)
print(df)

   empno    ename qualification subject
0    101     ramu            be      cs
1    102     bhim       diplomo      me
2    103  maneesh         mtech      ec
3    104   lokesh           bsc      at
4    105  prithvi           msc      ce

In [4]:
print(df['empno'])
print(df[['empno','ename']])

0    101
1    102
2    103
3    104
4    105
Name: empno, dtype: int64
   empno    ename
0    101     ramu
1    102     bhim
2    103  maneesh
3    104   lokesh
4    105  prithvi

In [5]:
df['salary']=[60000,80000,75000,90000,50000]
print(df)

   empno    ename qualification subject  salary
0    101     ramu            be      cs   60000
1    102     bhim       diplomo      me   80000
2    103  maneesh         mtech      ec   75000
3    104   lokesh           bsc      at   90000
4    105  prithvi           msc      ce   50000

In [6]:
df['age']=[43,28,24,32,50]
print(df)

   empno    ename qualification subject  salary  age
0    101     ramu            be      cs   60000   43
1    102     bhim       diplomo      me   80000   28
2    103  maneesh         mtech      ec   75000   24
3    104   lokesh           bsc      at   90000   32
4    105  prithvi           msc      ce   50000   50

In [7]:
young_people=df[df['age']<30]
print(young_people)

   empno    ename qualification subject  salary  age
1    102     bhim       diplomo      me   80000   28
2    103  maneesh         mtech      ec   75000   24

In [8]:
highest_salary=df[df['salary']<90000]
print(highest_salary)

   empno    ename qualification subject  salary  age
0    101     ramu            be      cs   60000   43
1    102     bhim       diplomo      me   80000   28
2    103  maneesh         mtech      ec   75000   24
4    105  prithvi           msc      ce   50000   50

In [10]:
sorted_df=df.sort_values(by='age')
print(sorted_df)

   empno    ename qualification subject  salary  age
2    103  maneesh         mtech      ec   75000   24
1    102     bhim       diplomo      me   80000   28
3    104   lokesh           bsc      at   90000   32
0    101     ramu            be      cs   60000   43
4    105  prithvi           msc      ce   50000   50